{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock title %}

{% block content %}
    <header class="hero is-medium is-primary">
    <div class="hero-body">
      <h1 class="title">Mercure Learning</h1>
      <p class="subtitle">Applications of the following documentation :
        <a href="https://symfony.com/doc/current/mercure.html" class="is-underlined">
          https://symfony.com/doc/current/mercure.html
        </a> to check how mercure work
      </p>
    </div>
  </header>

{% endblock content %}


{% block javascript %}
{% endblock %}
