{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock title %}

{% block content %}

  {% set book_topics = [
    absolute_url(path('get_book', {id: 1})),
    absolute_url(path('get_book', {id: 2})),
    absolute_url(path('get_book', {id: 3})),
  ] %}

  <header class="hero is-medium is-primary">
    <div class="hero-body">
      <h1 class="title">Multiple Subscriptions</h1>
      <p>Multiple subscriptions to the topics : {{ book_topics|map(topic => "<code>#{topic}</code>")|join(', ')|raw }}</code></p>
      <p class="mt-1">
        You can open the Simple subscription with the <code>https://localhost/books/1</code> topic
        to check the refreshment of the status on other page
      </p>
      <p class="mt-4">If you got some trouble to connect to the mercure hub : clean your cookies. </p>
    </div>
  </header>

  <section class="container mb-6 px-3">
    {# Information about the subscribed URL, discovery URL or fake API URL #}
    <h2 class="title is-5 my-4">Book subscription urls : </h2>
    <div class="columns is-multiline">
      <div class="column is-full">
        <div class="notification is-info mt-4" >
          <code>
            {{- mercure(book_topics)|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw -}}
          </code>
        </div>
      </div>
    </div>

    {# The Public Books (status and links #}
    <h2 class="title is-5 my-4">Public books: </h2>

    <div class="columns is-multiline" id="books" data-book-sources="{{ mercure(book_topics) }}">
      {% for topic in book_topics %}
        <div class="column  is-fullwidth-mobile is-half-tablet is-half-desktop is-one-third-widescreen">
          {% include 'block/book.html.twig' with {'id': loop.index, topic: topic} %}
        </div>
      {% endfor %}
    </div>

  </section>
{% endblock content %}


{% block javascript %}
{{ encore_entry_script_tags('screens/multiple-subscriptions') }}
{% endblock %}
