{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock title %}

{% block content %}

  {% set discover_url = absolute_url(path('discover_book', {id: 1})) %}

  <header class="hero is-medium is-primary">
    <div class="hero-body">
      <h1 class="title">Simple Subscription using discover mechanism</h1>
      <p>Simple subscription using a discovery url : <code>{{ discover_url }}</code></p>
      <p class="mt-4">If you got some trouble to connect to the mercure hub : clean your cookies. </p>
    </div>
  </header>
  <section class="container mb-6 px-3">
    {# Information about the subscribed URL, discovery URL or fake API URL #}
    <h2 class="title is-5 my-4">Book subscription urls : </h2>
    <div class="columns is-multiline">
      <div class="column is-full">
        <div class="notification is-info mt-4">
          <dl>
              <dt class="has-text-weight-bold">
                Book 1 discover url :
              </dt>
              <dd>
                <code>
                  {{ discover_url }}
                </code>
              </dd>
          </dl>
        </div>
      </div>
    </div>

    {# The Public Books (status and links #}
    <h2 class="title is-5 my-4">Public books: </h2>

    <div class="columns">
      <div class="column">
        {% include 'block/discover-book.html.twig' with {'discover_url': discover_url, 'id': 'discover-book'} %}
      </div>
    </div>
  </section>
{% endblock content %}


{% block javascript %}
    {{ encore_entry_script_tags('screens/simple-subscription-discover') }}
{% endblock %}
