<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}

        {{ encore_entry_link_tags('app') }}

        {% block stylesheet %}{% endblock stylesheet %}
    </head>
    <body>
        {% block content %}{% endblock content %}

        {% block javascript %}

        {% endblock javascript %}
    </body>
</html>
