<!DOCTYPE html>
<html lang="fr" class="has-navbar-fixed-top">
<head>
  {% block head %}
    <title>{% block title %}{% endblock %}</title>
  {% endblock %}

  {{ encore_entry_link_tags('app') }}
  {% block stylesheet %}{% endblock stylesheet %}
</head>
<body>

{% include 'block/navbar.html.twig' %}
{% block content %}{% endblock content %}

{{ encore_entry_script_tags('app') }}
{% block javascript %}{% endblock javascript %}
</body>
</html>
